langchain==1.3.2
python-dotenv
langchain_community==0.4.2
pypdf
bs4 #beautifulsoup4
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
langchain_ollama
langchain_groq
langchain_core
fastapi
uvicorn
langserve
sse_starlette
langchain_classic
arxiv
Wikipedia
validators==0.28.1
youtube_transcript_api
pytube

